body{
	margin:0;
	padding:0;
	font-size: 14px;
    line-height: 1.42857143;
	font-family: "Open Sans", sans-serif;
	background: rgba(243, 244, 248, 0.6);
	color: #fff;
}

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}
@media (min-width: 768px){
	.wrapper{
		width:750px;
	}
}
@media (min-width: 968px){
	.wrapper{
		width:950px;
	}
}
@media (min-width: 1200px){
	.wrapper{
		width:1170px;
	}
}
.wrapper{
  padding-right: 15px;
  padding-left: 15px;
  margin:0 auto;
}
.wrapper-inner{
	margin-left:-10px;
	margin-right:-10px;
}
@media(min-width:768px){
	.block-1,
	.block-2,
	.block-3,
	.block-4,
	.block-5,
	.block-6,
	.block-7,
	.block-8,
	.block-9,
	.block-10,
	.block-11,
	.block-12{
		float:left;
	}
	}
	
    .block-1,
	.block-2,
	.block-3,
	.block-4,
	.block-5,
	.block-6,
	.block-7,
	.block-8,
	.block-9,
	.block-10,
	.block-11,
	.block-12{
		padding:15px;
		position:relative;
	}
	
@media(min-width:768px){
.block-1{
	width:8.3333333333%;
}
.block-2{
	width:16.6666666667%;
}
.block-3{
	width:25%;
}
.block-4{
	width:33.3333333333%;
}
.block-5{
	width:41.6666666667%;
}

.block-6{
	width:50%;
}
.block-7{
	width:58.3333333333%;
}
.block-8{
	width:66.6666666667%;
}
.block-9{
	width:75%;
}
.block-10{
	width:83.3333333333%;
}
.block-11{
	width:91.6666666667%;
}
.block-12{
	width:100%;
}
}

/*******************************************/
a{
	text-decoration:none;
}

.clear{
	clear:both;
}

.underline{
	border-bottom:3px solid #edb83a;;
	width: 250px;
	clear: both;
}


/* ----------------------------------------start of actual code design code --------------------------------------*/

/*****************************Global Style***************************/

div, nav, section, header{
	display: block;
}

ul, ol{
	margin: 0;
	padding: 0;
}

ul, li{
	list-style: none;
}

a {
    color: #FF5274;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transition-property: color, border-color, background-color;
    transition-property: color, border-color, background-color;
}

img{

	border: 0;
}

.text-center{
	text-align: center;
}

h1{
	font-size: 60px;
}

.responsive{
	width: 100%;
}


h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

/*************************Global Style ends**************************/

/***************************header style*****************************/

.hero {
    min-height: 650px;
    background: url(../img/hero.jpg) center center;
    background-size: cover;
    position: relative;
}


.hero1 {
    min-height: 650px;
    background: url(../img/hero.jpg) center center;
    background-size: cover;
    position: fixed;
	width: 100%;
}

.navigation {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    width: 100%;
    z-index: 999;
}

header {
    padding: 50px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    position: relative;
    width: 1170px;
    margin: 0 auto;
    -webkit-transition: padding 300ms ease-in-out;
    transition: padding 300ms ease-in-out;
	display: block;
}

header .logo{
	display: inline-block;
}

header a{
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
}

header .header-nav{
	display: inline-block;
}

header ul.primary-nav{
	margin: 0 0 0 75px;
	padding: 0;
}

header ul.primary-nav li{
	display: inline;
}

header ul.primary-nav li a{
	color: #fff;
	padding: 25px;
}

header .member-actions{
	position: absolute;
	right: 0;
	top: 41px;
	-webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

header ul.member-actions li {
    display: inline;
}

header ul.member-actions li a{
	color: #fff;
}

header a.login{
	margin-right: 20px;
}

header ul.member-actions li a {
    color: #FF5274;
}

.btn-small {
    padding: 8px 40px;
}

.btn-small1 {
    padding: 4px 20px;
}

.btn-pink {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    border-color: #FF5274;
	color: #FF5274;
}

.btn-pink:hover{
	border-color: #fff;
	color: #fff;
}

.middle-content {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
	margin-right: -15px;
    margin-left: -15px;
}

.none{
	display: none;
}

*,body{
  margin :0;
  padding: 0;
  
}

div{
  display: block;
}

/*start of actual code*/
.form1{
  background :#232429;
  border-radius: 13px;
  padding: 20px;
  margin-top: 140px;
  left: 90px;
  position: absolute;
  width: 87%;
}



.form1 h1{
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: 100;
	color: #fff;
	font-size: 40px;
}


/*btn*/
.sign-in-btn {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    border-color: #FF5274;
    color: #FF5274;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
}

.buttons{
	padding: 10px;
}

.center{
	text-align: center;
}

.sign-in-btn:hover{
  background-color: #FF5274;
  color: #fff;
  transition: all .5s ease;
}

.sign-in-btn1 {
    font-size: 13px;
    border: solid 2px;
    border-radius: 40px;
    display: inline-block;
    border-color: #FF5274;
    color: #fff;
    background-color: #FF5274;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
}

.sign-in-btn1:hover{
  background-color: #fd325a;
  border-color: #fd325a;
}

.hero-content .form1 h1{
  text-align: center;
  color: #ff5176;
  margin:0;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.sign-border-bottom{
  border-bottom: #95989A 1px solid;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form-control{
  border-radius: 20px;
  margin-bottom: 5px;
  width: 100%;
  height: 35px;
    padding-left: 15px;
    border: none;
    background: rgba(0,0,0,.3);
  font-weight: 400;
	color: #fff;
}

.button-Signup{
  margin-top: 20px;
  margin-left: 30px;
}
.btn-animate {
    float: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    color: rgba(255,255,255, 1);
    width: 30%;
    border: none;
    margin-top: 17px;
    -webkit-transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
    transition: all .5s ease, top .5s ease .5s, height .5s ease .5s, background-color .5s ease .75s;
}

input:focus{
  outline: none !important;
    border:1px solid;
}

.btn-signin {
    float: left;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin-top: -8px;
    margin-left: 60px;
}

/*focus none and transition for place holder*/
::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.5;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #fff;
  opacity: 0.5;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:hover::-webkit-input-placeholder {
  opacity: 0.75;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover::-moz-placeholder {
  opacity: 0.75;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:hover:-ms-input-placeholder {  
  opacity: 1;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Place Holder CSS for Focus */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
} 


.form-control:focus{
  outline: none !important;
    border:1px solid;
}








.hero h1{
	color: #fff;
	margin-bottom: 40px;
	margin-top: 130px;
}

.hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
}

.btn-margin-right {
    margin-right: 20px;
}

.btn-large {
    padding: 15px 40px;
}

.btn-fill {
    color: #fff;
    border: solid 2px #FF5274;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
    background-color: #FF5274;
}

.btn-fill:hover{
	background-color: #d7405d;
	border-color: #d7405d;
}

.btn {
    font-size: 13px;
    border: solid 2px #FF5274;
    border-radius: 40px;
    display: inline-block;
    text-transform: uppercase;
}

.btn1 {
    font-size: 13px;
    border-radius: 5px;
    display: inline-block;
	background: #FF5274;
    text-transform: uppercase;
	padding: 5px 10px;
}

.btn:hover{
	background-color: #FF5274;
	color: #fff;
}

.fileUpload {
    position: relative;
    margin: 10px;
}
.fileUp {
    position: relative;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.fileUp input.upload1 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.disableInputField{
    display:inline-block;
    height: 27px;
    margin-top: px;
    font-size:14px;
	background: rgba(0,0,0,.3);
	border-radius: 40px;
	padding: 5px 10px;
	border: none;

}

.file{
	margin-top: 10px;
	margin-bottom: 10px;
}



.gallery {
	padding-bottom: 120px;
}

.container-fluid {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.figure {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*--gallery Section--*/
#gallery-section h1{
	font-weight: 400;
	top: 100px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 55%;
  height: 81%;
  left: 22%;
  top: 10%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.hovereffect:hover .overlay {
  background-color: rgba(0,0,0,0.3);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  
}
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(95px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(55px);
  -ms-transform: translateY(55px);
  transform: translateY(200px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: normal;
  margin: -52px 0 0 0;
}

.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

/*kjsdhfjksdabhfjksdhfkj*/
.hovereffect1 {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay1 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect:hover .overlay1 {
  background-color: rgba(170,170,170,0.4);
}

.hovereffect h2, .hovereffect img {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
	width: 100%;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
	width: 100%;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: #262935;
	font-size: 20px;
	padding: 10px;
	right: 0;
	opacity: 0.9;
	transition: 1s;
}






.border-bottom {
	border-bottom: 3px solid #FF5274;
	width: 9%;
	display: block;
	margin: 0 auto;
	margin-top: -5px;
}

.border-bottom1 {
	border-bottom: 3px solid #FF5274;
	width: 13.5%;
	display: block;
	margin: 0 auto;
	margin-top: -5px;
}

/*view Add Update*/
.table{
	margin-top: 140px;
	position: absolute;
	left: 100px;
}


.rounded{
	border: 0px #333 solid;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0px 0px 5px #888;
}

table {
    border-collapse: collapse;
    width: 100%;
	border-radius: 20px;
	margin-top: -5px;
	font-size: 15px;

}

th, td {
 
    padding: 8px;
}



tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #FF5274;
    color: white;
}

tr:hover{
	background-color:#f5f5f5;
}

td{
	background-color: rgba(7,12,46,0.55);

}

